<h2>Offers</h2>
<div>
  {{#each offers}}
  <div>
    <h3><a href="/offers/{{this._id}}">{{this.name}}</a></h3>
    <p>{{this.type}}</p>
    <p>{{this.adress.street}} {{this.adress.number}}, {{this.code}} {{this.adress.city}}</p>
  </div>
  {{/each}}
</div>