<h2>View Offer</h2>
<h3>{{offer.name}}</h3>
<p>{{offer.type}}</p>
<p>{{offer.description}}</p>
<div>
  <h4>Address:</h4>
  <p>
    {{offer.address.street}} {{offer.address.number}}<br>
    {{offer.address.code}} {{offer.address.city}}
  </p>
</div>
<p>Owner: <a href="/profiles/{{offer.owner._id}}">{{offer.owner.username}}</a></p>
<div>
  <h4>Booking:</h4>
  <form action="/offers/{{offer._id}}/book" method="POST">
    {{{output}}}
    <button type="submit">Book</button>
  </form>
</div>