{{#with userInfo}}

<h1>{{username}}'s public profile</h1>
{{#if firstName}}
<p>First name: {{firstName}}</p>
{{/if}}
{{#if lastName}}
<p>Last name: {{lastName}}</p>
{{/if}}
{{#if description}}
<p>Description: {{description}}</p>
{{/if}}
{{#if imgPath}}
<p>Profile picture:</p>
<img src="{{imgPath}}" height="100px" alt="profile-pic">
{{/if}}
{{/with}}