{{#with userInfo}}
<div class="container md p-3">
  <div class="card">
    <div class="card-header">
      <h2 class="card-title">
        {{username}}'s public profile
        {{#if averageRating}}
        <img height="20px" src="/images/{{averageRating}}star.png" alt="star logo">
        {{/if}}
        <a href="/profiles/rate/{{_id}}" class="btn btn-primary btn-sm" tabindex="-1" role="button">Rate User</a>
      </h2>
    </div>
    <div class="card-body">
      <div class="row mb-3">
        {{#if ../message}}
        <div class="alert alert-danger" role="alert">
          {{../message}}
        </div>
        {{/if}}
        <div class="col-7">
          <div class="card mb-3">
            <div class="card-header">Full Name</div>
            <div class="card-body">
              <p>
                {{#if firstName}}
                {{firstName}}
                {{/if}}
                {{#if lastName}}
                {{lastName}}
                {{/if}}
              </p>
            </div>
          </div>
          <div class="card mb-3">
            <div class="card-header">Email</div>
            <div class="card-body">
              {{#if email}}
              <p></p><a href="mailto:{{email}}">{{email}}</a></p>
              {{else}}
              <p>-</p>
              {{/if}}
            </div>
          </div>
          <div class="card mb-3">
            <div class="card-header">About</div>
            <div class="card-body">
              {{#if description}}
              <p>{{description}}</p>
              {{/if}}
            </div>
          </div>
        </div>
        {{#if imgPath}}
        <div class="col-5">
          <img class="img-thumbnail" style="width: 100%;" src="{{imgPath}}" alt="profile-pic">
        </div>
        {{/if}}
      </div>
      {{/with}}
      <div class="row">
        {{#if ratingsInfo}}
        <div class="col-6">
          <h3>Top user ratings: </h3>
          {{#each ratingsInfo}}
          <div class="card mb-3">
            <div class="card-header">
              <a href="/profiles/{{ratedBy._id}}">{{ratedBy.username}}</a>
              <img height="15px" src="/images/{{rating}}star.png" alt="star logo">
            </div>
            <div class="card-body">
              <p>{{comments}}</p>
            </div>
          </div>
          {{/each}}
        </div>
        {{/if}}
        {{#if offersInfo}}
        <div class="col-6">
          <h3>{{userInfo.username}}'s offers: </h3>
          {{#each offersInfo}}
          <div class="card mb-3">
            <a class="card-header" style="color: black; text-decoration: none;" href="/offers/{{_id}}"><span
                class="badge bg-primary">{{type}}</span> {{name}}</a>
            <div class="card-body">
              <p>{{address.street}} {{address.number}}, {{address.code}} {{address.city}}</p>
            </div>
          </div>
          {{/each}}
        </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>