
{{#with userInfo}}
<div class="p-3">
  <div class="card">
    <div class="card-header">
      <h2 class="card-title">{{username}}'s public profile</h2>
    </div>
    <div class="card-body">
    <div class="row">
      <div class="col-4">
        <div class="card">
          <div class="card-header">
<p>Profile picture:</p>
          </div>
{{#if imgPath}}
          <div class="card-body">
<img class="card-img-top" src="{{imgPath}}" alt="profile-pic">
          </div>
{{/if}}        
        </div>
      </div>
      <div class="col-8">
        <div class="card">
          <div class="card-header">average user rating for {{username}}</div>
          <div class="card-body">
{{#if averageRating}}
<p>average user rating for {{username}}:</p>
<img height="15px" src="/images/{{averageRating}}star.png" alt="star logo">
{{/if}}
<a href="/profiles/rate/{{_id}}">rate this user</a>
          </div>
        </div>
        <div class="card">
          <div class="card-header">first name</div>
          <div class="card-body">
{{#if firstName}}
<p>{{firstName}}</p>
{{/if}}
          </div>
        </div>
        <div class="card">
          <div class="card-header">second name</div>
          <div class="card-body">
{{#if lastName}}
<p>{{lastName}}</p>
{{/if}}
          </div>
        </div>
        <div class="card">
          <div class="card-header">email address</div>
          <div class="card-body">
{{#if email}}
<p>{{email}}</p>
{{/if}}
          </div>
        </div>
        <div class="card">
          <div class="card-header">about</div>
          <div class="card-body">
{{#if description}}
<p>{{description}}</p>
{{/if}}
          </div>
        </div>
      </div>
    </div>
{{/with}}
    <div class="row">
      <div class="col-6">
        <div class="card-header">selected reviews</div>
        <div class="card-body">
{{#if ratingsInfo}}
<h3>Top user ratings: </h3>
{{#each ratingsInfo}}
<div class="card mb-3">
  <div class="card-header">
    <a href="/profiles/{{ratedBy._id}}">{{ratedBy.username}}</a>
    <img height="15px" src="/images/{{rating}}star.png" alt="star logo">
  </div>
  <div class="card-body">
    <p>{{comments}}</p>
  </div>
</div>
{{!-- <div class="card">
  <div class="card-header"><p>Rating: {{rating}}</p></div>
  <div class="card-body"><p>Comments: {{comments}}</p></div>
</div> --}}
{{/each}}
{{/if}}
        </div>
      </div>
      <div class="col-6">
        <div class="card-header">offers</div>
        <div class="card-body">
{{#if offersInfo}}
<div>
  {{#each offersInfo}}
  <div>
    <p><a href="/offers/{{_id}}">{{name}}</a></p>
  </div>
  {{/each}}
</div>
{{/if}}          
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

